name: Simple CI

on:
  push:

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Check index.html
        run: |
          if [ -f index.html ]; then
            echo "index.html found"
          else
            exit 1
          fi
